.exp__container {
    max-width: 768px;
}

.exp__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.exp__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin: 0 1rem;
    cursor: pointer;
}

.exp__button:hover {
    color: var(--title-color-dark);
}

.exp__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.exp__active {
    color: var(--title-color-dark);
}

.exp__sections {
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}

.exp__content {
    display: none;
}

.exp__content-active {
    display: block;
}

.exp__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.exp__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.exp__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.exp__calender {
    font-size: var(--small-font-size);
}

.exp__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--text-color);
    border-radius: 50%;
}

.exp__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--text-color);
    transform: translate(6px, -7px);
}